/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.notice {
  list-style-type: none;
  color: #ff0000;
  font-size: 20px;
  padding: 0 5px;
}

.alert {
  list-style-type: none;
  color: #ff0000;
  font-size: 20px;
  padding: 0 5px;
}

.error {
  list-style-type: none;
  color: #ff0000;
  font-size: 15px;
  padding: 0 10px;
  line-height: 1;
}

.error_explanation {
  list-style-type: none;
  color: #ff0000;
  font-size: 20px;
  padding: 0 5px;
}

footer {
  background-color: #f37055;
}

/* ヘッダー始 */
header {
  background-color: #f37055;
}

.icon_image {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  object-fit: cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin-right: 150px;
}

.logo {
  margin: 20px;
  height: 40%;
  width: 40%;
}

.navi_lists {
  display: flex;
  align-items: center;
  column-gap: 20px;
  list-style: none;
 }

 .navi_list {
  color: #fff;
  position: relative;
  text-decoration: none;
 }

 .dropdown_lists {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
 }

 .navi_list:hover .dropdown_lists {
  display: block;
 }

.dropdown_list {
  background-color: #004d80;
  width: 150px;
  height: 30px;
  top: 20px;
}

.dropdown_list:not(:first-child)::before{
  content: "";
  width: 100%;
  height: 1px;
  background-color: #3492d1;
  position: absolute;
  top: 0;
  left: 0;
}

.dropdown_list:hover {
  background-color: #003558;
}

.dropdown_list {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.dropdown_list a::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(135deg);
  position: absolute;
  right: 15px;
  top: calc(50% - 5px);
}
/* ヘッダー終 */

/* トップページ始 */
.area_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-gap: 20px;
}

.area_group {
  position: relative;
}

.area {
  height: 400px;
  width: 600px;
}

.area_word {
  font-size: 40px;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 20px;
}

.search_form {
  display: flex;
  gap: 10px;
}

.top_search {
  height: 50px;
  width: 800px;
  font-size: 25px;
}

.top_submit {
  height: 55px;
  width: 120px;
  font-size: 25px;
}

.top_text  {
  font-size: 100px;
  color: #ff5106;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  background-blend-mode: hard-light;
}
/* トップページ終 */

/* アカウント設定ページ始 */
.profile {
  padding: 0;
  border: 1px solid #dfe2e6;
  display: flex;
  justify-content: space-around;
}

.link_text {
  text-decoration: none;
  font-size: 20px;
}

.profile_detail {
  margin: 50px;
  display: flex;
  justify-content: center;
}
/* アカウント設定ページ終 */

/* ルーム作成・編集ページ始 */
.room_form_group {
  margin: 50px;
  display: flex;
  justify-content: center;
}

.room_input_field {
  height: 30px;
  width: 500px;
}
/* ルーム作成・編集ページ終 */

/* ルーム詳細ページ始 */
.room_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  line-height: 2;
}

.reservation_form_group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room_name{
  font-size: 30px;
}

.reservation_button {
	border-style:none;
	font-size:130%;
	font-weight:bold;
	color: #ffffff;
	margin:.5em .5em .5em 0;
	padding:.3em 0 .4em;
	width:150px;
	background:#6a6a6a;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.reservation_button:hover {
	background-color: #f37055;
}

.sign_in_button {
  text-decoration: none;
  padding: 8px 30px;
	font-size:130%;
	font-weight:bold;
	color: #ffffff;
	width:150px;
	background:#6a6a6a;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.sign_in_button:hover {
	background-color: #f37055;
}
/* ルーム詳細ページ終 */

/* 予約済み・登録済みページ始 */
.register_group {
  border-collapse:separate;
  border-spacing:20px;
  width: 100%;
  text-align: center;
}

.headline {
  background-color: rgb(250, 210, 210);
}

.register_group td:nth-child(3) {
  width: 40%;
}
/* 予約済み・登録済みページ終 */

/* 送信・キャンセルボタン始 */
.form_submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_button {
  font-size: 20px;
  text-decoration: none;
  margin: 10px;
  border-style: solid;
  padding: 10px;
  border-radius: 10px;
}

.form_back {
  font-size: 20px;
  text-decoration: none;
  margin: 10px;
  border-style: solid;
  padding: 10px;
  border-radius: 10px;
}
/* 送信・キャンセルボタン終 */

/* 検索欄　始 */
.w_search {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.w_search_field {
  height: 40px;
  width: 300px;
}

.w_search_submit {
  height: 40px;
  width: 100px;
  font-size: 20px;
}
/* 検索欄　終 */

/* ルーム一覧ページ始 */
.room_group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.room_lists {
  margin: 20px;
  height: 500px;
  width: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff692;
  border-radius: 30px;
}

.room_list {
  margin: 10px;
  word-break: break-all;
}

.room_name_list {
  font-size: 30px;
}
/* ルーム一覧ページ終 */

/* 確認ページ始 */
.confirm_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.confirm_submit_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 確認ページ終 */
